.mantine-Header-root {
  background: transparent;
}
.mantine-Navbar-root {
  background: transparent;
}
@media only screen and (max-width: 752px) {
  .mantine-Navbar-root {
    /*
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    */
    backdrop-filter: blur(8px);
    height:100%;
    position: fixed !important;
    z-index: 10;
    top:0;
    left:0;
  }

  html.dark .mantine-Navbar-root {
    background-color: rgba(0, 0, 0, 1) !important;
  }
  html:not(.dark) .mantine-Navbar-root {
    background-color: rgba(0, 0, 0, 1) !important;
  }
}
